.select {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 0.25em 0.25em 0;

  & > div {
    display: flex;
    background-color: light-dark(#eee, #333);
    margin-bottom: 0.25em;
    padding: 0.25em;
    cursor: pointer;

    & > span:first-child {
      flex-grow: 1;
    }
  }
}
