#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    gap: 18px;
  }
}

.welcome-message {
  font-size: 1.25em;
  margin: auto;
  animation: fade-in 1s ease-in;

  h1 {
    line-height: 2;
    text-align: center;
  }

  ul {
    line-height: 1.5;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    translate: 0 -1em;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

.empty-message {
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0.25em;
  width: 100%;
  vertical-align: top;

  tr:nth-child(even) {
    background-color: #eee;
  }

  th {
    width: 2em;
  }

  td {
    text-align: left;
    padding-right: 6px;
    word-break: break-word;
    width: 70%;

    & + td {
      border-left: 1px solid #aaa;
      padding-left: 6px;
    }

    em {
      color: #aaa;
      font-style: normal;
    }
  }
}

.search-toolbar,
.bulk-toolbar {
  position: fixed;
  bottom: 3em;
  padding: 0.5em 1em;
  width: calc(100% - 1em * 2);
  background-color: white;
  box-shadow: 0px -5px 10px #0002;

  input {
    width: 100%;
  }
}

.bulk-toolbar {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    gap: 0.25em;
  }

  select,
  button {
    font-size: 0.6em;
    padding: 0.5em 0.25em;
  }
}

.global-toolbar {
  position: fixed;
  height: 2em;
  bottom: 0;
  padding: 0.5em 1em;
  width: calc(100% - 1em * 2);
  background-color: white;
  box-shadow: 0px -5px 10px #0002;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;

  button {
    font-size: 0.6em;
    padding: 0.5em 0.25em;
  }

  .logo {
    height: 1em;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

dialog {
  width: calc(100% - 3em);
  max-width: 500px;
  translate: 0 -5em;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;
  }

  textarea {
    width: calc(100% - 6px);
  }
}
